// .nav-bar-custom {
//   background-color:white;
//   padding:1rem;

//   a {
//     color:#b13115;
//   }
// }

// #user-profile {
//   display:grid;
//   grid-template-columns:10% 80% 10%;
//   // height:100%;

//   .my-info {
//     grid-column:2;

//     h2 {
//       // text-align:center
//     }
//   }
// }

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    color: black;
}

//-------Title Section {TitleSection.js}
.titleSection{
    width: 100%;
    padding: 10px;
}

.titleSectionGroup{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    grid-gap: 30px;
    max-width: 990px;
    margin: 0px auto;

}

.titleSectionGroup img{
    top: 0;
    height: 240px;
    width: 240px;
    border-radius: 120px;
}
.titleInfo{
    text-align: left;
    align-items: left;
    float: left;

}
.titleInfo h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
}
.titleInfo p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    color: #979797;
}

.titleInfo button{
    padding: 10px 60px;
    background: #6F64F8;
    border-radius: 8px;
    border: none;
    color: white;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.titleInfo button:hover{
    transform: translateY(-2px);
    background: white;
    color: #6F64F8;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width:750px){
    .titleSectionGroup{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
    }
    .titleSection{
        justify-items: center;
    }
    .titleInfo{
        text-align: center;
        width: 100%;
    }
    .CardGroup{
        grid-template-columns: repeat(1, 1fr);
        max-width: 300px;
    }
}

// .cards{
//     width: 100%;
// }
// .cards h1{
//     text-align: center;
// }
// .CardGroup{
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     align-items: center;
//     grid-gap: 15px;
//     max-width: 990px;
//     margin: 30px auto;
// }

// @media (max-width: 750px){
//     .CardGroup{
//         grid-template-columns: repeat(1, 1fr);
//         max-width: 300px;
//     }
// }

.content-card {
  display:grid;
  grid-template-columns:20% auto 20%;

  .card {
    grid-column:2;

    .card-info {
      grid-template-columns: 50% 50%;
    }
  }
}