@use "sass:color";
@import "assets/scss/core/variables/_variables.scss";

.map-wrapper {
  height:85vh;
  width:100%;
  position:relative;

  #mapId {
    width:100%;
    // height:85vh !important;
    height:100%;
    z-index:1;

    input.leaflet-control {
      background-color:rgba(255,255,255,1);
      width:100%;
      height:2rem;
      border:1px solid black;
      // box-shadow: 1px 1px 1px rgba(#0a0638, 5%); 

      &:active {
        background-color: darken(rgba(255,255,255,1), 5);
      }
    }

    .info {
      display:grid;
      grid-gap:1rem;

      .info-child {
        background-color: rgba(255,255,255, 0.5);
        border:1px solid black;
        padding:1rem;

        h6 {
          text-align:center;
          font-weight:400;
        }
      }
    }
  }

  .loading {
    position:absolute;
    margin:auto;
    // font-size:50px;
    z-index:2;
    border: 16px solid rgba(255,255,255,1); /* Light grey */
    border-top: 16px solid $primary; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .popup {
    position:absolute;
    bottom:0;
    z-index:3;
    height:100%;
    width:100%;
    padding:5% 20%;
    background-color:rgba(0,0,0, 0.9);
    border:black;
    opacity:1;
    
    h2, p {
      color:white;
    }
    .exit {
      color:white;
      font-size:5rem;
      position:absolute;
      margin:0;

      &:hover {
        cursor:pointer;
      }
    }

    h2.start {
      width:max-content;

      &:hover {
        cursor:pointer;
        text-decoration: underline;
      }
    }

  }

  .hide {
    opacity:0;
    display:none;
  }
}


