@use "sass:color";

#questionnaire-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  > .card {
    display: "inline-block";
    text-align: center;
    margin: 12px unquote("min(2vw, 30px)");
    max-width: 480px;
    .card-body {
      > * {
        margin: 10px 0;
      }
      h3 {
        font-weight: 900;
      }
      span {
        color: #6f64f8;
      }
    }
  }
}

#survey {
  background-color: white;
  height: 80vh;
  > .tripetto-collector-rolling {
    width: inherit;
    height: inherit;
    position: relative;
  }
}
