$default-margin: 20px;
$breakpoint-phone: 460px;

.custom-dashboard {
  height: 100%;
  display: grid;
  grid-template-columns: 50% auto;
  flex-direction: row;
  width: 100%;
  grid-gap: $default-margin;

  @media (max-width: $breakpoint-phone) {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin-bottom: 0;
  }
  .Card-checkin {
    height: min-content;
    @media (max-width: $breakpoint-phone) {
      margin-bottom: $default-margin;
    }
  }
  .widgets {
    display: grid;
    grid-gap: $default-margin;
    height: 100%;

    .wearable-data-container {
      display: flex;
      justify-content: center;
    }
    .wearable-data {
      min-width: min-content;

      p {
        margin: 1em 0;
      }

      h2,
      h3,
      h4,
      h5,
      i {
        margin: 0.1em 0;
        text-align: center;
      }

      .button-container {
        display: flex;
        justify-content: center;
        margin-top: $default-margin;
      }
    }
  }

  .map-wrapper {
    height: 50vh;
  }
}
